<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
    <link rel="stylesheet" href="assets/styles/style.css" />

    <title>Four card feature section</title>
  </head>
  <body>
    <section class="wrapper">
      <header>
        <h1>
          Reliable, efficient delivery<br />
          <strong>Powered by Technology</strong>
        </h1>
        <p>
          Our Artificial Intelligence powered tools use millions of project data points to ensure
          that your project is successful
        </p>
      </header>

      <div class="cards">
        <div class="card card-supervisor">
          <div class="card-text">
            <h2 class="card-title">Supervisor</h2>
            <p class="card-text">Monitors activity to identify project roadblocks</p>
          </div>
          <img class="card-image" src="assets/images/icon-supervisor.svg" alt="magnifying glass" />
        </div>
        <div class="card card-team-builder">
          <div class="card-text">
            <h2 class="card-title">Team Builder</h2>
            <p>Scans our talent network to create the optimal team for your project</p>
          </div>
          <img
            class="card-image"
            src="assets/images/icon-team-builder.svg"
            alt="team building icon"
          />
        </div>
        <div class="card card-karma">
          <div class="card-text">
            <h2 class="card-title">Karma</h2>
            <p>Regularly evaluates our talent to ensure quality</p>
          </div>
          <img class="card-image" src="assets/images/icon-karma.svg" alt="light bulb" />
        </div>
        <div class="card card-calculator">
          <div class="cardtext">
            <h2 class="card-title">Calculator</h2>
            <p>Uses data from past projects to provide better delivery estimates</p>
          </div>
          <img class="card-image" src="assets/images/icon-calculator.svg" alt="monitor" />
        </div>
      </div>
    </section>
  </body>
</html>
