/* Variables */
:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(13, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --intro-bg-very-light-red: hsl(13, 100%, 72%);
  --intro-bg-light-red: hsl(353, 100%, 62%);
  --bd-grad-dark-grey-blue: hsl(237, 17%, 21%);
  --bd-grad-dark-desaturated-blue: hsl(237, 23%, 32%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --section-border-curve: 8rem;
  --scale: 0;
}

/* Common styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font: 16px/24px 'Ubuntu', sans-serif;
  background-color: #fff;
  color: var(--white);
  min-width: 375px;
}
button {
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: 600;
}
h1 {
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
}
h2 {
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* End common styles */

/* Start header */
header {
  padding: 48px 24px 120px;
  border-bottom-left-radius: var(--section-border-curve);
  position: relative;
  background: url('../images/bg-pattern-intro-mobile.svg') no-repeat top -15.5rem
    left -21rem;
  text-align: center;
  font: 16px/24px 'Overpass', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 'logo nav' 'desc desc' 'phrase phrase' 'cta cta';
}
header::after {
  content: '';
  background: linear-gradient(
    to bottom right,
    var(--intro-bg-very-light-red),
    var(--intro-bg-light-red)
  );
  width: 100%;
  height: 100%;
  border-bottom-left-radius: var(--section-border-curve);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
nav li {
  cursor: pointer;
}
.header-nav-items,
header .secondary-nav-options {
  display: none;
}
#header-nav {
  grid-area: nav;
  justify-self: end;
  position: relative;
}

.header-nav-items {
  width: 85vw;
  min-width: 320px;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.25);
  background-color: #fff;
  color: var(--very-dark-black-blue);
  font-weight: 600;
  line-height: 3rem;
  position: absolute;
  top: 3rem;
  right: 10%;
}
header .main-nav {
  height: 80%;
  border-bottom: 1px solid var(--grayish-blue);
}
.main-nav-option > span {
  margin-left: 1rem;
}
header .secondary-nav-options {
  padding: 16px 0;
  background-color: var(--grayish-blue);
  color: var(--very-dark-grayish-blue);
  border-radius: 4px;
  margin: 8px 0 24px;
}
.login-signup {
  align-items: center;
}
#login-btn,
#signup-btn {
  width: 124px;
  color: var(--very-dark-black-blue);
}
#login-btn {
  font-family: 'Overpass', sans-serif;
}
#signup-btn {
  background: linear-gradient(
    to right,
    var(--very-light-red),
    var(--light-red)
  );
  color: var(--white);
}
header h2 {
  margin: 24px 16px 0;
  grid-area: desc;
}
span#intro-message {
  display: block;
  margin: 24px 16px 0;
  font-size: 1.25rem;
  grid-area: phrase;
}
.cta {
  margin-top: 32px;
  grid-area: cta;
}
.cta-btn {
  width: 148px;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  font-weight: 600;
}
.cta-btn:first-child {
  margin-right: 8px;
  background-color: #fff;
}
.cta-btn:last-child {
  margin-left: 8px;
}
#start-btn span {
  background: linear-gradient(var(--very-light-red), var(--light-red));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hamburger-menu {
  cursor: pointer;
  transition: all 0.6s ease-out;
}
.hamburger-menu-close {
  content: url('../images/icon-close.svg');
}

/* Medium screens */
@media only screen and (min-width: 768px) {
  header .hamburger-menu {
    display: none;
  }
  .header-nav-items,
  .main-nav,
  .login-signup {
    flex-direction: row;
  }
  #header-nav {
    align-self: start;
  }
  .header-nav-items {
    width: 85vw;
    height: fit-content;
    padding: 0 24px;
    color: var(--white);
    display: flex;
    align-items: start;
    position: static;
    background-color: transparent;
    box-shadow: none;
  }
  header .main-nav {
    border-bottom: none;
    width: 320px;
    padding: 0;
  }
  header .main-nav-options {
    color: var(--white);
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 0.6s;
  }
  .expand-menu-icon {
    content: url('../images/icon-arrow-light.svg');
  }
  header .secondary-nav-options {
    width: 10rem;
    position: absolute;
    top: 2.5rem;
    right: -2.5rem;
    background-color: var(--white);
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.25);
    cursor: pointer;
  }

  header .main-nav-option:hover + .secondary-nav-options,
  header .secondary-nav-options:hover {
    display: block;
  }
  header .main-nav-options {
    pointer-events: none;
  }
  header .main-nav-options * {
    pointer-events: auto;
  }
  header .main-nav-option:hover .expand-menu-icon {
    transform: rotate(180deg);
  }

  header .secondary-nav-options li:hover {
    color: var(--very-dark-black-blue);
  }
  .login-signup {
    margin-left: auto;
  }

  #login-btn {
    color: var(--white);
  }
  #signup-btn {
    background: var(--white);
  }
  #signup-btn span,
  #learn-btn:hover span {
    background-clip: text;
    background: linear-gradient(
      to right,
      var(--very-light-red),
      var(--light-red)
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #start-btn {
    border: none;
  }
  #signup-btn:hover,
  #start-btn:hover {
    background-color: var(--light-red);
  }
  #signup-btn:hover span,
  #start-btn:hover span {
    background: transparent;
    -webkit-text-fill-color: var(--white);
  }
  #learn-btn:hover {
    background-color: var(--white);
  }
}
/* Large screens */
@media only screen and (min-width: 1200px) {
  header {
    background: url('../images/bg-pattern-intro-desktop.svg') no-repeat left -20rem
      bottom -85rem;
  }
  .main-nav-options {
    width: 60%;
  }
}
/* End header*/

/* Start main */
main {
  margin-bottom: 5rem;
  font-family: 'Overpass' sans-serif;
  font-weight: 300;
  color: var(--very-dark-grayish-blue);
  text-align: center;
}
main h2,
main h1 {
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
main h2 {
  color: var(--very-dark-blue);
}
main h1 {
  color: var(--white);
}

article.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
main section:nth-child(2) {
  border-top-right-radius: var(--section-border-curve);
  border-bottom-left-radius: var(--section-border-curve);
  background: linear-gradient(
    var(--bd-grad-dark-grey-blue),
    var(--bd-grad-dark-desaturated-blue)
  );
  color: var(--white);
  margin-top: 15rem;
}
main section:nth-child(2) .article-text {
  padding: 0 32px;
  position: relative;
  top: -16.5rem;
}
#phone-illustration-container {
  background: url('../images/bg-pattern-circles.svg') no-repeat center bottom
    7.5rem;
  background-size: contain;
}
#phone-illustration {
  position: relative;
  top: -10.5rem;
}
.article-text p {
  line-height: 2rem;
  padding: 0 32px;
}
/* Large screens */
@media only screen and (min-width: 1200px) {
  article.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'text image';
    overflow-x: hidden;
  }
  main section:nth-child(2) .article-text *,
  main section:nth-child(3) .article-text * {
    padding: 0;
  }
  article.content > article.content > img {
    grid-area: image;
  }
  .article-text {
    grid-area: text;
  }
  .article-text h2,
  .article-text p,
  .article-text h1 {
    padding-left: 10rem;
    text-align: left;
  }
  #editor-illustration {
    content: url('../images/illustration-editor-desktop.svg');
    position: relative;
    right: -15rem;
  }

  #phone-illustration-container {
    height: 400px;
    background: url('../images/bg-pattern-circles.svg') no-repeat left -4rem bottom -1rem;
    background-size: cover;
    grid-area: text;
  }
  #phone-illustration {
    position: relative;
    top: -4rem;
    width: 552px;
    height: 579px;
  }
  #phone-illustration-container + .article-text,
  #laptop-illustration + .article-text {
    grid-area: image;
  }
  main section:nth-child(2) .article-text {
    padding-left: 0;
    margin-top: 3rem;
    position: static;
    align-self: start;
    grid-area: image;
  }

  main section:nth-child(2) article {
    overflow-x: visible;
  }

  main section:last-child {
    margin-top: 12rem;
  }
  #laptop-illustration {
    content: url('../images/illustration-laptop-desktop.svg');
    position: relative;
    left: -16rem;
    grid-area: text;
  }
}
/* End main */

/* Start footer */
footer {
  padding: 64px 8px;
  border-top-right-radius: var(--section-border-curve);
  background-color: var(--very-dark-black-blue);
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer .logo {
  margin-bottom: 48px;
}

#footer-nav .main-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#footer-nav .main-nav-options {
  margin-top: 48px;
  font-weight: 500;
  cursor: text;
}
#footer-nav .secondary-nav-options {
  margin-top: 16px;
  font-weight: 400;
  color: var(--grayish-blue);
}

/* Medium screens */
@media only screen and (min-width: 768px) {
  footer {
    padding: 64px 24px 128px;
    display: grid;
    grid-template-columns: 0.25fr, 0.5fr, repeat(3, 1fr) 0.25fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. logo nav nav nav .';
    align-items: start;
  }

  .logo {
    grid-area: logo;
  }
  #footer-nav {
    grid-area: nav;
  }

  #footer-nav .main-nav {
    width: 100%;
    flex-direction: row;
    align-items: start;
  }
  #footer-nav .main-nav-options {
    margin-top: 0;
  }
}
/* Large screens */
@media only screen and (min-width: 1200px) {
  footer {
    grid-template-columns: 0.25fr repeat(3, 1fr) 2fr;
  }
}
/* End footer */

/* Animations */
@media only screen and (min-width: 768px) {
  .animate-underline {
    position: relative;
  }

  .animate-underline::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--grayish-blue);
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scaleX(var(--scale));
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  .animate-underline:hover::after {
    transform: scaleX(1);
  }
  header .animate-underline::after {
    background-color: var(--white);
  }
}
