@use 'variables';
@use 'utility' as utils;
header {
  background-color: var(--clr-surface-top-pattern);
  position: relative;
  min-width: 375px;
  &::after {
    content: '';
    height: 8rem;
    border-bottom-left-radius: variables.$base-border-radius * 5;
    border-bottom-right-radius: variables.$base-border-radius * 5;
    background-color: var(--clr-surface-top-pattern);
    position: absolute;
    bottom: -8rem;
    inset-inline: 0;
  }

  .header-container {
    align-items: flex-start;
    padding-top: 3rem;

    .header-text {
      padding-bottom: 1rem;
      border-bottom: 1.5px solid map-get(variables.$clr-dark-theme, 'text-dark');

      h1 {
        font-size: clamp(1.5rem, 5vw, 2rem);
      }

      @include utils.md {
        border-bottom: none;
        width: fit-content;
      }
    }
  }
}
