@use 'variables' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

:root {
  --clr-surface: #{$clr-white};
  --clr-surface-top-pattern: #{map-get($clr-light-theme, 'surface-pattern')};
  --clr-card-bg: #{map-get($clr-light-theme, 'card-bg')};
  --clr-card-bg-hover: #{darken(map-get($clr-light-theme, 'card-bg'), 5)};
  --clr-primary-body-text: #{map-get($clr-light-theme, 'text-gray')};
  --clr-secondary-body-text: #{map-get($clr-light-theme, 'text-dark-blue')};
  --clr-toggle: #{map-get($clr-toggle, 'toggle-light')};
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.app {
  min-height: 100vh;
  background-color: var(--clr-surface);
}
