@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
/* reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  background: hsl(235, 16%, 14%) url("../images/bg-stars.svg") no-repeat center;
  background-size: cover;
  color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header {
  margin-top: min(6rem, 20vw);
  margin-bottom: min(5rem, 10vw);
  min-width: 375px;
}
header h1 {
  font-size: 21px;
  padding: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.unit-wrapper .unit .time-bottom::after, .unit-wrapper .unit .time-bottom::before, .unit-wrapper .unit .time-top::after, .unit-wrapper .unit .time-top::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: hsl(235, 16%, 14%);
}

.countdown {
  display: grid;
  padding: 0 1rem;
  min-width: 375px;
  grid-template-columns: repeat(4, minmax(80px, 140px));
  grid-template-rows: 180px;
  gap: 1rem;
  place-items: stretch;
  place-content: center;
}

.unit-wrapper {
  text-align: center;
}
.unit-wrapper .unit {
  height: 60%;
  color: hsl(345, 95%, 68%);
  font-size: 51.8px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 1rem;
}
@media screen and (min-width: 460px) {
  .unit-wrapper .unit {
    height: 80%;
    font-size: 70px;
  }
}
.unit-wrapper .unit .time-top,
.unit-wrapper .unit .time-bottom {
  height: 49%;
  position: relative;
  background-color: hsl(236, 21%, 26%);
}
.unit-wrapper .unit .time-top {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.unit-wrapper .unit .time-top::before {
  left: 0;
  bottom: 0;
  border-top-right-radius: 100%;
}
.unit-wrapper .unit .time-top::after {
  right: 0;
  bottom: 0;
  border-top-left-radius: 100%;
}
.unit-wrapper .unit .time-top .content-top {
  position: relative;
  top: 34%;
}
.unit-wrapper .unit .time-bottom {
  margin-top: 1px;
  overflow: hidden;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 0.5rem hsl(234, 17%, 12%);
}
.unit-wrapper .unit .time-bottom::before {
  left: 0;
  top: 0;
  border-bottom-right-radius: 100%;
}
.unit-wrapper .unit .time-bottom::after {
  right: 0;
  top: 0;
  border-bottom-left-radius: 100%;
}
.unit-wrapper .unit .time-bottom .content-bottom {
  position: relative;
  top: -68%;
}
.unit-wrapper .time-label {
  color: hsl(237, 18%, 59%);
  font-size: 10.5px;
  letter-spacing: 0.2rem;
}

footer {
  height: 197px;
  width: max(100vw, 375px);
  background: url(../images/pattern-hills.svg) no-repeat 78% bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  footer {
    height: 260px;
  }
}
@media screen and (max-width: 968px) and (orientation: landscape) {
  footer {
    position: relative;
    margin-top: 4rem;
  }
}
footer .container {
  padding-top: 4rem;
  gap: 2rem;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: hsl(237, 18%, 59%);
  -webkit-mask-size: cover;
          mask-size: cover;
}
.icon:hover {
  background-color: hsl(345, 95%, 68%);
}

.icon-fb {
  -webkit-mask: url(../images/icon-facebook.svg);
          mask: url(../images/icon-facebook.svg);
}

.icon-pintrest {
  -webkit-mask: url(../images/icon-pinterest.svg);
          mask: url(../images/icon-pinterest.svg);
}

.icon-instagram {
  -webkit-mask: url(../images/icon-instagram.svg);
          mask: url(../images/icon-instagram.svg);
}/*# sourceMappingURL=index.css.map */