$clr-accent: (
  'lime-green': hsl(163, 72%, 41%),
  'bright-red': hsl(356, 69%, 56%),
);

$clr-follower-card-border: (
  'facebook': hsl(208, 92%, 53%),
  'twitter': hsl(203, 89%, 53%),
  'instagram': linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)),
  'youtube': hsl(348, 97%, 39%),
);

$clr-toggle: (
  'toggle-dark':
    linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)),
  'toggle-light': hsl(230, 22%, 74%),
);

// dark Theme
$clr-dark-theme: (
  'surface-dark': hsl(230, 17%, 14%),
  'surface-pattern-dark': hsl(232, 19%, 15%),
  'card-bg-dark': hsl(228, 28%, 20%),
  'text-dark': hsl(228, 34%, 66%),
);

$clr-white: hsl(0, 0%, 100%);

$clr-light-theme: (
  'surface-pattern': hsl(225, 100%, 98%),
  'card-bg': hsl(227, 47%, 96%),
  'text-gray': hsl(228, 12%, 44%),
  'text-dark-blue': hsl(230, 17%, 14%),
);

// Font
$base-font-size: 14px;

// Border
$base-border-radius: 4px;
